body {
  margin: 0;
  text-align: center;
  color: gray;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  font-size: 20px;
  color: white;
  background-color: #4a4949;
  padding: 10px;
}
.navbar a{
  margin: 0px 15px;
}
.navbar > .active {
  border-bottom: 1px solid white;
}


.about-section{
  background-color: white;
  height: 100vh;
  width: 100%;
  padding-top: 15%;
  text-align: center;
}
.about-section #about-name{
  font-size: 3.5em;
}
.about-section #about-image{
  max-width:250px;
  max-height:250px;
  width: auto;
  height: auto;
  border-radius: 20%;
}
.about-section p{
 padding: 0% 15%;
}


.projects-section{
  height: 100vh;
  width: 100%;
  background-color: lightblue;
  padding: 5% 0%;
}
.projectsContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
}
.individualProjectContainer{
  text-align: center;
  border: 1px solid red;
  height: 250px;
  width: 250px;
}


.skills-section{
  height: 100vh;
  width: 100%;
  background-color: white;
  padding: 5% 0%;
}
.skillsContainer{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 40px;
  justify-content: center;
}
.individualSkillContainer{
  text-align: center;
  height: 175px;
  width: 150px;
}
.individualSkillContainer img{
  display: block;
  max-width:150px;
  max-height:150px;
  width: auto;
  height: auto;
}

.contact-section{
  height:100vh;  
  background-color: lightblue;
  padding-top: 5%;
}
.contact-form{
  margin-top: 15%;
  height:100vh;  
  background-color: lightblue;
  padding-top: 5%;
}
.contact-section #contact-form{
  border: 4px solid red;
  height: 500px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}



@media (max-width: 768px){
  .navbar{
    text-align: center;
  }

  .about-section{
    margin-top: 25px;
    height: auto;
  }


  .projects-section{
    height: auto;
  }
  .projectsContainer{
    grid-template-columns: auto auto;
    grid-gap: 15px;
  }
  .individualProjectContainer{
    height: 175px;
    width: 175px;
  }


  .skills-section{
    height: auto;
  }
  .skillsContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    margin-top: 15%;
    justify-content: center;
  }
  .individualSkillContainer{
    text-align: center;
    height: 150px;
    width: 100px;
  }
  .individualSkillContainer img{
    display: block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
  }

  .contact-section{
    height: 100vh;
  }
}