body {
  margin: 0;
  background-color: #071529;
  color: #dce2f5;
  padding: 0px 5px;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  font-size: 20px;
  background-color: #071529;
  color: #57f1ff;
}

.navbar a{
  padding: 0px 15px;
}

.navbar > .active {
  border-bottom: 1px solid #57f1ff;
}

.about-section{
  height: 100vh;
}
.about-section #about-name{
  font-size: 3.5em;
  padding: 20% 0% 0% 15%;
  color: #57f1ff;
}
.about-section #padded-text{
  padding:0% 15%;
}

.contact-section{
  height: 100vh;
}

.projects-section{
  height: 100vh;
}

.skills-section{
  height: 100vh;
}

.projectsContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  padding: 10px;
}

.individualProjectContainer{
  padding: 20px;
  text-align: center;
  border: 1px solid red;
}